<div class="wrapper">
  <%= render "shared/header"%>
  <div class="main">
    <%= form_with model: current_user, local: true do |f|%>

    <h2>アカウントの編集</h2>
    <%= render 'shared/error_messages', model: @user %>
    <div class="container">
      <div class="form-group">
        <div class="field"> 
            <%= f.label :name%>
            <%= f.text_field :name, autofocus: true, class:"form-control" %>
        </div>
        <div class='field'>
            <%= f.label :email%>
            <%= f.email_field :email, class:"form-control" %>
        </div>
        <div class='user-edit-btn-contents'>
          <%= f.submit "変更", class: 'new-btn y-btn btn btn-outline-warning'%>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn c-btn btn-outline-warning' %>
          <%= link_to 'もどる', root_path, class:"back-btn btn c-btn btn-outline-warning" %>
        </div>
      </div>
    <% end %>