<div class='wrapper'>
  <%= render "shared/header"%>
  <div class=main>
  <h2>ユーザー一覧</h2>
  <div class="sc-table">
    <table>
        <tr>
          <th>名前</th>
          <th>email</th>
          <th>管理者権限</th>
          <th></th>
          <th>削除</th>
        </tr>
        <% @users.each do |user| %>
          <tr id="user" >
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <% unless user.admin %>
              <td id="admin"></td>
              <td id="admin-input">
                <input type="button" value="管理者に変更" class="btn btn-outline-secondary admin-btn" user-id=<%= user.id %> user-admin=<%= user.admin %>>
              </td>
            <% else %>
              <td id="admin">管理者</td>
              <td id="admin-input">
                <input type="button" value="管理者から外す" class="btn btn-outline-secondary admin-btn" user-id=<%= user.id %> user-admin=<%= user.admin %>>
              </td>
            <% end %>
            <td>
              <%= link_to '削除', user_path(id: user.id), method: :delete, class: "btn btn-outline-secondary" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  function admin() {
    const admins = document.querySelectorAll(".admin-btn");
    admins.forEach(function (admin) {
      if (admin.getAttribute("data-load") != null) {
        return null;
      };
      admin.setAttribute("data-load", "true");
      admin.addEventListener("click", () => {
        const userId = admin.getAttribute("user-id");
        const XHR = new XMLHttpRequest();
        XHR.open("GET", `/users/${userId}`, true);
        XHR.responseType = "json";
        XHR.send();
        XHR.onload = () => {
          if (XHR.status != 200) {
            alert(`Error ${XHR.status}: ${XHR.statusText}`);
            return null;          
          }
          const item = XHR.response.user;
          const prev = admin.parentNode.previousElementSibling;
          if (item.admin === true) {
            admin.setAttribute("user-admin", "true")
            admin.setAttribute("value", "管理者から外す")
            prev.innerHTML=`管理者`
          } else if (item.admin === false) {
            admin.setAttribute("user-admin", "false")
            admin.setAttribute("value", "管理者に変更")
            prev.innerHTML=``
          }
        };
      });
    });
  }
  setInterval(admin, 1000);
</script>