<header class='top-page-header'>
    <ul class='lists-left'>
     <%= link_to "STOCK", root_path, class:"icon" %>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, edit_user_path(current_user), class: "user-name btn" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout btn btn-outline-warning"%> </li> 
        <li><%= link_to '消耗品登録', '#', class: "item-new btn btn-outline-warning"%>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login btn btn-outline-warning" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up btn btn-outline-warning" %></li>
      <% end %>
    </ul>
</header>