  <nav class="navbar navbar-expand-sm navbar-light">
      <% if user_signed_in? && (logged_in? || (!@organization.nil? && !@organization.id.nil?)) %>
        <%= link_to "STOCK!", root_path(id: @organization.id), class:"icon navbar-brand" %>
        <%= link_to current_user.name, edit_user_path(current_user), class: "navbar-brand user-name btn" %>
      <% elsif logged_in? || (!@organization.nil? && !@organization.id.nil?) %>
        <%= link_to "STOCK!", root_path(id: @organization.id), class:"icon navbar-brand" %>
      <% else %>
        <div class="icon navbar-brand">STOCK!</div>
      <% end %>
        <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navmenu1"
          aria-controls="navmenu1"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="font-size : medium"></span>
         </button>
      <% if user_signed_in? && (logged_in? || (!@organization.nil? && !@organization.id.nil?)) %>
        <div class="collapse navbar-collapse" id="navmenu1">
          <% if can? :update, current_user%>
            <div class="navbar-nav">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "lnav-item nav-link"%> 
              <%= link_to 'ユーザー一覧', users_path(id: @organization.id), class: "nav-item nav-link"%> 
              <%= link_to '消耗品登録', new_organization_item_path(organization_id: @organization.id), class: "nav-item nav-link"%>
            </div>
          <% else%>
            <div class="navbar-nav">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "lnav-item nav-link"%> 
            </div>
          <% end %>
        </div>
      <% elsif logged_in? || (!@organization.nil? && !@organization.id.nil?)  %>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "lnav-item nav-link"%>
            <%= link_to 'ユーザーログイン', new_user_session_path(id: @organization.id), class: "nav-item nav-link" %>
            <%= link_to 'ユーザー新規登録', new_user_registration_path(id: @organization.id), class: "nav-item nav-link" %>
          </div>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <%= link_to '組織にログイン', login_path, class: "nav-item nav-link" %>
            <%= link_to '組織新規登録', new_organization_path, class: "nav-item nav-link" %>
          </div>
        </div>
      <% end %>
  </nav>