<header class='top-page-header'>
    <ul class='lists-left'>
      <% if logged_in? || (!@organization.nil? && !@organization.id.nil?) %>
        <li><%= link_to "STOCK!", root_path(id: @organization.id), class:"icon" %></li>
      <% else %>
        <li class="icon">STOCK!</li>
      <% end %>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? && (logged_in? || (!@organization.nil? && !@organization.id.nil?)) %>
        <li><%= link_to current_user.name, edit_user_path(current_user), class: "user-name btn" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout btn btn-outline-warning"%> </li> 
        <% if can? :undate, current_user%>
          <li><%= link_to 'ユーザー一覧', users_path(id: @organization.id), class: "user-index btn btn-outline-warning"%> </li> 
          <li><%= link_to '消耗品登録', new_organization_item_path(organization_id: @organization.id), class: "item-new btn btn-outline-warning"%>
        <% end %>
      <% elsif logged_in? || (!@organization.nil? && !@organization.id.nil?)  %>
        <li><%= link_to 'ユーザーログイン', new_user_session_path(id: @organization.id), class: "login btn btn-outline-warning" %></li>
        <li><%= link_to 'ユーザー新規登録', new_user_registration_path(id: @organization.id), class: "sign-up btn btn-outline-warning" %></li>
      <% else %>
        <li><%= link_to '組織にログイン', login_path, class: "login btn btn-outline-warning" %></li>
        <li><%= link_to '組織新規登録', new_organization_path, class: "sign-up btn btn-outline-warning" %></li>
      <% end %>
    </ul>
</header>