<div class="wrapper">
  <%= render "shared/header"%>
  <div class="main">
    <h2>ユーザーログイン</h2>

      <div class="container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label "ログイン状態を保存する" %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "ログイン", class:"new-btn y-btn btn btn-outline-warning" %>
              <%=link_to 'もどる', root_path, class:"back-btn btn c-btn" %>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
      <div class="container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.hidden_field :email, value: "admin@sample.com" %>
          <%= f.hidden_field :password, value: "qqq111" %>
          <%= f.submit "テストログイン（管理者）", class:"new-btn y-btn btn btn-outline-warning", style: "width: auto;" %>
        <% end %>
      </div>
      <div class="container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.hidden_field :email, value: "not-admin@sample.com" %>
          <%= f.hidden_field :password, value: "qqq111" %>
          <%= f.submit "テストログイン（使用者）", class:"new-btn y-btn btn btn-outline-warning", style: "width: auto;" %>
        <% end %>
      </div>
  </div>
</div>
