<div class='wrapper'>
  <%= render "shared/header"%>
  <div class="main">
    <div class="container">
      <div>
        <%= image_tag @item.image.variant(resize: '150x150' ) %>
      </div>
    </div>
    <div class="container">
      <div>
        <%= link_to '編集', edit_organization_item_path(organization_id: @organization.id, id: @item.id), class: "btn btn-light" %>
      </div>
      <div>
        <%= link_to '削除', organization_item_path(organization_id: @organization.id, id: @item.id), method: :delete, class: "btn btn-light" %>
      </div>
    </div>
    <div class="sc-table">
      <table>
        <tr>
          <th>名称</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>URL</th>
          <td>
          <%= @item.url %><br>
          <%= link_to '発注画面へ', @item.url, target: :_blank %>
          </td>
        </tr>
        <tr>
          <th>在庫</th>
          <td><%= @item.stock_quantity%></td>
        </tr>
        <tr>
          <th>発注目安在庫数</th>
          <td><%= @item.standard_inventory %></td>
        </tr>
        <tr>
          <th>発注単位</th>
          <td><%= @item.ordering_unit %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= @item.category.name %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= @item.place %></td>
        </tr>
      </table>
    </div>
  </div>
</div>