<%= render "shared/header"%>

<%= form_with model: @organization, local: true do |f| %>

<%= render 'shared/error_messages', model: @organization %>

<div class="field"> 
  <%= f.label :name, "組織名" %><br>
  <%= f.text_field :name %>
</div>
<div class="field"> 
  <%= f.label :password, "パスワード" %><br>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "パスワード再入力" %><br>
  <%= f.password_field :password_confirmation %>
</div>
<div class="organization-btn-contents">
  <%= f.submit "登録" ,class:"new-btn" %>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>
<% end %>